Repository ICT-FUNney/finds, pull requests merged in 2019-12, with the labels that each got.

#40 Kiksun/feature/#39
  client/finds_client/src/App.js
  client/finds_client/src/components/TopAppBar.js
Labels: enhancement

#42 login以外でのAppBarの表示
  client/finds_client/src/App.js
  client/finds_client/src/components/DocumentDetailPage.js
  client/finds_client/src/components/SearchResultpage.js
  client/finds_client/src/components/myPage.js
Labels: enhancement

#51 [fix]レスポンシブにした
  client/finds_client/src/components/myPage.js
  client/finds_client/src/styles/myPage.css
Labels: client, layout

#52 ログイン画面をレスポンシブに修正
  client/finds_client/src/components/login.js
  client/finds_client/src/styles/login.css
  client/finds_client/src/styles/myPage.css
Labels: bug, client, layout
